# Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Data/marketing_data.csv')

## Exploratory and Statistical Analysis of Marketing Data

### Section 01: Exploratory Data Analysis

- Are there any null values or outliers? How will you wrangle/handle them?
- Are there any variables that warrant transformations?
- Are there any useful variables that you can engineer with the given data?
- Do you notice any patterns or anomalies in the data? Can you plot them?

#### First, lets look at the data, dtypes and correct them if they're not properly set

In [15]:
df.head(5)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,104,379,111,189,218,1,4,4,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,5,64,7,0,37,1,7,3,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,11,59,15,2,30,1,3,2,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,16,24,11,0,34,2,3,1,2,7,1,0,0,0,0,1,0,SP

We can see that 
- Income has an extra space in front of it's name
- Income must be converted to an int
- dt_customer must be converted to a datetime format
- most of the int64 can/should be downcasted

In [9]:
df.dtypes

ID                      int64
Year_Birth              int64
Education              object
Marital_Status         object
 Income                object
Kidhome                 int64
Teenhome                int64
Dt_Customer            object
Recency                 int64
MntWines                int64
MntFruits               int64
MntMeatProducts         int64
MntFishProducts         int64
MntSweetProducts        int64
MntGoldProds            int64
NumDealsPurchases       int64
NumWebPurchases         int64
NumCatalogPurchases     int64
NumStorePurchases       int64
NumWebVisitsMonth       int64
AcceptedCmp3            int64
AcceptedCmp4            int64
AcceptedCmp5            int64
AcceptedCmp1            int64
AcceptedCmp2            int64
Response                int64
Complain                int64
Country                object
dtype: object

In [14]:
# import pandas_profiling
# profile = df.profile_report()
# # profile.to_file(output_file='data_profiling.html')

In [13]:
from IPython.display import display
pd.options.display.max_columns = None
display(df)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,104,379,111,189,218,1,4,4,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,5,64,7,0,37,1,7,3,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,11,59,15,2,30,1,3,2,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,16,24,11,0,34,2,3,1,2,7,1,0,0,0,0,1,0,SP
5,7348,1958,PhD,Single,"$71,691.00",0,0,3/17/14,0,336,130,411,240,32,43,1,4,7,5,2,0,0,0,0,0,1,0,SP
6,4073,1954,2n Cycle,Married,"$63,564.00",0,0,1/29/14,0,769,80,252,15,34,65,1,10,10,7,6,1,0,0,0,0,1,0,GER
7,1991,1967,Graduation,Together,"$44,931.00",0,1,1/18/14,0,78,0,11,0,0,7,1,2,1,3,5,0,0,0,0,0,0,0,SP
8,4047,1954,PhD,Married,"$65,324.00",0,1,1/11/14,0,384,0,102,21,32,5,3,6,2,9,4,0,0,0,0,0,0,0,US
9,9477,1954,PhD,Married,"$65,324.00",0,1,1/11/14,0,384,0,102,21,32,5,3,6,2,9,4,0,0,0,0,0,0,0,IND
10,2079,1947,2n Cycle,Married,"$81,044.00",0,0,12/27/13,0,450,26,535,73,98,26,1,5,6,10,1,0,0,0,0,0,0,0,US
11,5642,1979,Master,Together,"$62,499.00",1,0,12/9/13,0,140,4,61,0,13,4,2,3,1,6,4,0,0,0,0,0,0,0,SP
12,10530,1959,PhD,Widow,"$67,786.00",0,0,12/7/13,0,431,82,441,80,20,102,1,3,6,6,1,0,0,0,0,0,1,0,IND
13,2964,1981,Graduation,Married,"$26,872.00",0,0,10/16/13,0,3,10,8,3,16,32,1,1,1,2,6,0,0,0,0,0,0,0,CA
14,10311,1969,Graduation,Married,"$4,428.00",0,1,10/5/13,0,16,4,12,2,4,321,0,25,0,0,1,0,0,0,0,0,0,0,SP
15,837,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,63,6,57,13,13,22,4,2,1,5,4,0,0,0,0,0,0,0,SP
16,10521,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,63,6,57,13,13,22,4,2,1,5,4,0,0,0,0,0,1,0,SP
17,10175,1958,PhD,Divorced,"$32,173.00",0,1,8/1/13,0,18,0,2,0,0,2,1,1,0,3,4,0,0,0,0,0,0,0,SP
18,1473,1960,2n Cycle,Single,"$47,823.00",0,1,7/23/13,0,53,1,5,2,1,10,2,2,0,3,8,0,0,0,0,0,0,0,CA
19,2795,1958,Master,Single,"$30,523.00",2,1,7/1/13,0,5,0,3,0,0,5,1,1,0,2,7,0,0,0,0,0,0,0,CA
20,2285,1954,Master,Together,"$36,634.00",0,1,5/28/13,0,213,9,76,4,3,30,3,5,2,5,7,0,0,0,0,0,0,0,SA
21,115,1966,Master,Single,"$43,456.00",0,1,3/26/13,0,275,11,68,25,7,7,3,5,1,8,5,0,0,0,0,0,0,0,IND
22,10470,1979,Master,Married,"$40,662.00",1,0,3/15/13,0,40,2,23,0,4,23,2,2,1,3,4,0,0,0,0,0,0,0,GER
23,4065,1976,PhD,Married,"$49,544.00",1,0,2/12/13,0,308,0,73,0,0,23,2,5,1,8,7,0,0,0,0,0,0,0,SP
24,10968,1969,Graduation,Single,"$57,731.00",0,1,11/23/12,0,266,21,300,65,8,44,4,8,8,6,6,0,0,0,0,0,0,0,IND
25,5985,1965,Master,Single,"$33,168.00",0,1,10/13/12,0,80,1,37,0,1,3,3,2,1,4,7,0,0,0,0,0,0,0,SP
26,5430,1956,Graduation,Together,"$54,450.00",1,1,9/14/12,0,454,0,171,8,19,32,12,9,2,8,8,0,0,0,0,0,0,0,SP
27,8432,1956,Graduation,Together,"$54,450.00",1,1,9/14/12,0,454,0,171,8,19,32,12,9,2,8,8,0,0,0,0,0,0,0,SP
28,453,1956,PhD,Widow,"$35,340.00",1,1,6/29/14,1,27,0,12,0,1,5,2,2,0,3,5,0,0,0,0,0,0,0,SP
29,9687,1975,Graduation,Single,"$73,170.00",0,0,5/31/14,1,184,174,256,50,30,32,1,5,4,6,2,0,0,0,0,0,0,0,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,966,1966,Graduation,Married,"$44,529.00",0,1,7/5/13,98,538,13,91,17,6,26,6,6,2,11,5,0,1,0,0,0,0,0,SP
2211,9706,1974,PhD,Single,"$31,560.00",1,0,6/24/13,98,62,1,20,4,0,7,2,2,1,3,8,0,0,0,0,0,0,0,CA
2212,3979,1983,PhD,Divorced,"$90,687.00",0,0,5/22/13,98,982,17,672,23,34,51,1,6,2,8,2,0,0,1,0,0,1,0,SP
2213,5602,1989,PhD,Together,"$66,973.00",0,0,5/17/13,98,466,22,432,147,113,102,1,8,7,12,3,0,0,0,0,0,0,0,IND
2214,2202,1978,Graduation,Together,"$41,154.00",0,1,4/9/13,98,44,2,11,2,3,7,1,1,0,4,5,0,0,0,0,0,0,0,SP
2215,9645,1968,Graduation,Married,"$64,590.00",0,0,10/14/12,98,920,138,168,36,46,30,1,9,4,10,6,0,0,0,0,0,0,0,SP
2216,7230,1960,PhD,Divorced,"$50,611.00",0,1,10/4/12,98,459,0,24,6,0,4,6,4,5,7,6,0,1,0,0,0,1,0,US
2217,5675,1960,PhD,Divorced,"$50,611.00",0,1,10/4/12,98,459,0,24,6,0,4,6,4,5,7,6,0,1,0,0,0,0,0,US
2218,4974,1970,Graduation,Single,"$83,273.00",1,2,9/25/12,98,433,89,650,16,102,102,10,4,6,9,7,0,0,0,0,0,0,0,US
2219,5687,1980,Graduation,Divorced,"$81,702.00",0,0,9/23/12,98,563,50,774,28,31,187,1,7,7,12,3,0,0,0,0,0,0,0,CA
2220,5871,1979,Master,Together,"$24,401.00",0,0,8/31/12,98,73,28,217,10,24,115,3,6,1,6,8,0,0,0,0,0,0,0,SA
2221,3846,1974,Graduation,Married,"$42,557.00",0,1,8/29/12,98,192,5,53,0,5,15,4,6,1,4,8,0,0,0,0,0,0,0,SP
2222,10001,1985,2n Cycle,Together,"$7,500.00",1,0,8/1/12,98,5,17,17,13,14,34,4,2,1,3,9,0,0,0,0,0,0,0,SP
2223,2831,1976,Graduation,Together,"$78,416.00",0,1,6/27/14,99,453,38,279,188,38,183,2,7,7,10,3,0,0,0,0,0,0,0,SP
2224,868,1966,Graduation,Married,"$44,794.00",0,1,6/8/14,99,54,0,7,0,0,4,1,2,0,3,6,0,0,0,0,0,0,0,SA
2225,7212,1966,Graduation,Married,"$44,794.00",0,1,6/8/14,99,54,0,7,0,0,4,1,2,0,3,6,0,0,0,0,0,0,0,AUS
2226,1743,1974,Graduation,Single,"$69,719.00",0,0,5/26/14,99,273,86,208,177,14,43,1,2,3,5,1,0,0,0,0,0,0,0,SP
2227,2415,1962,Graduation,Together,"$62,568.00",0,1,4/7/14,99,362,17,398,80,35,61,3,5,3,5,4,0,0,0,1,0,0,0,SP
2228,7947,1969,Graduation,Married,"$42,231.00",1,1,3/25/14,99,24,0,8,0,1,4,1,1,0,3,5,0,0,0,0,0,0,0,SP
2229,2106,1974,2n Cycle,Married,"$20,130.00",0,0,3/17/14,99,0,6,3,7,6,12,1,1,0,3,8,0,0,0,0,0,0,0,SP
2230,3363,1974,2n Cycle,Married,"$20,130.00",0,0,3/17/14,99,0,6,3,7,6,12,1,1,0,3,8,0,0,0,0,0,0,0,SP
2231,8595,1973,Graduation,Widow,"$42,429.00",0,1,2/11/14,99,55,0,6,2,0,4,2,1,1,3,5,0,0,0,0,0,0,0,AUS
2232,7232,1973,Graduation,Widow,"$42,429.00",0,1,2/11/14,99,55,0,6,2,0,4,2,1,1,3,5,0,0,0,0,0,0,0,SP
2233,7829,1900,2n Cycle,Divorced,"$36,640.00",1,0,9/26/13,99,15,6,8,7,4,25,1,2,1,2,5,0,0,0,0,0,0,1,IND
2234,9977,1973,Graduation,Divorced,"$78,901.00",0,1,9/17/13,99,321,11,309,33,26,34,3,9,3,5,4,0,0,0,0,0,0,0,US
2235,10142,1976,PhD,Divorced,"$66,476.00",0,1,3/7/13,99,372,18,126,47,48,78,2,5,2,11,4,0,0,0,0,0,0,0,US
2236,5263,1977,2n Cycle,Married,"$31,056.00",1,0,1/22/13,99,5,10,13,3,8,16,1,1,0,3,8,0,0,0,0,0,0,0,SP
2237,22,1976,Graduation,Divorced,"$46,310.00",1,0,12/3/12,99,185,2,88,15,5,14,2,6,1,5,8,0,0,0,0,0,0,0,SP
2238,528,1978,Graduation,Married,"$65,819.00",0,0,11/29/12,99,267,38,701,149,165,63,1,5,4,10,3,0,0,0,0,0,0,0,IND
2239,4070,1969,PhD,Married,"$94,871.00",0,2,9/1/12,99,169,24,553,188,0,144,1,8,5,4,7,0,1,1,0,0,1,0,CA

### Section 02: Statistical Analysis

Please run statistical tests in the form of regressions to answer these questions & propose data-driven action recommendations to your CMO. Make sure to interpret your results with non-statistical jargon so your CMO can understand your findings.

- What factors are significantly related to the number of store purchases?
- Does US fare significantly better than the Rest of the World in terms of total purchases?
- Your supervisor insists that people who buy gold are more conservative. Therefore, people who spent an above average amount on gold in the last 2 years would have more in store purchases. Justify or refute this statement using an appropriate statistical test
- Fish has Omega 3 fatty acids which are good for the brain. Accordingly, do "Married PhD candidates" have a significant relation with amount spent on fish? What other factors are significantly related to amount spent on fish? (Hint: use your knowledge of interaction variables/effects)
- Is there a significant relationship between geographical regional and success of a campaign?

### Section 03: Data Visualization

Please plot and visualize the answers to the below questions.

- Which marketing campaign is most successful?
- What does the average customer look like for this company?
- Which products are performing best?
- Which channels are underperforming?

### Section 04: CMO Recommendations

Bring together everything from Sections 01 to 03 and provide data-driven recommendations/suggestions to your CMO.